
@import "./layout/header.scss";
@import "./utilities/extends.scss";
@import "./layout/main.scss";
@import "./layout/footer.scss";
@import "./layout/carrito.scss";


* {
    font-family: "Oswald", sans-serif;
    list-style: none;
    flex-wrap: wrap;
} 